<h1>Editing <%= @band.name %></h1>
 
<%= form_for :band, url: band_path, method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
 
  <p>
    <%= f.label :currently_relevant %><br>
    <%= f.check_box :currently_relevant %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', bands_path %>