<h1>New Band</h1>

<%= form_for :band, url: bands_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
 
  <p>
    <%= f.label :currently_relevant %><br>
    <%= f.check_box :currently_relevant %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
