<h1>Songs by <%= @band.name %></h1>
<h2>Genre: <%= @band.genre %></h2>

<%= link_to "Add New Video by #{@band.name}",  new_band_music_video_path(@band) %>

<ul>
    <% @music_videos.each do |vid| %>
        <li>
            <%= link_to vid.song_title, "/bands/#{@band.id}/music_videos/#{vid.id}" %><br>
            <iframe src=<%= "https://www.youtube.com/embed/#{vid.video_embed_url}" %>></iframe>
        </li>
    <%end%>
</ul>
