<h1>New Video by <%= @band.name %></h1>

<%= form_for :music_video, url: band_music_videos_path do |f| %>
  <p>
    <%= f.label :song_title %><br>
    <%= f.text_field :song_title %>
  </p>
  
  <p>
    <%= f.label :video_embed_url, "YouTube video id: " %>
    <%= f.text_field :video_embed_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>